SUBSYSTEM=="memory", ACTION=="online", PROGRAM="/bin/systemctl reset-failed kdump-tools.service ; /bin/systemctl try-restart kdump-tools.service"
SUBSYSTEM=="memory", ACTION=="offline", PROGRAM="/bin/systemctl reset-failed kdump-tools.service ; /bin/systemctl try-restart kdump-tools.service"
SUBSYSTEM=="cpu", ACTION=="add", PROGRAM="/bin/systemctl reset-failed kdump-tools.service ; /bin/systemctl try-restart kdump-tools.service"
SUBSYSTEM=="cpu", ACTION=="remove", PROGRAM="/bin/systemctl reset-failed kdump-tools.service ; /bin/systemctl try-restart kdump-tools.service"
SUBSYSTEM=="cpu", ACTION=="online", PROGRAM="/bin/systemctl reset-failed kdump-tools.service ; /bin/systemctl try-restart kdump-tools.service"
